# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific (Old Next.js debris)
node_modules/
.next/
out/
build/
dist/
.vercel
/src/generated/prisma
next-env.d.ts
*.tsbuildinfo
